* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-bar .nav-left ul .logo a img {
  width: 200px;
  height: 60px;
}

.nav-bar .nav-right ul {
  display: flex;
}

.nav-bar .nav-right ul li {
  margin: 0 0 0 20px;
  padding: 10px 20px;
}

.nav-bar .nav-right ul li:hover {
  border-bottom: 2px solid #61ce4e;
  padding: 10px 20px 8px 20px;
}

.nav-bar .nav-right ul li a {
  color: #1b3c59;
}

.nav-bar .nav-right ul .apply {
  border-radius: 5px;
  background-color: #61ce4e;
}

.nav-bar .nav-right ul .apply:hover {
  background-color: #73d462;
}

.nav-bar .nav-right ul .apply a {
  color: #ffffff;
}

.nav-bar .nav-right ul .hamburger {
  display: none;
}

footer {
  padding: 30px 0;
  background-color: #1b3c59;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

footer .footer-top .left img {
  width: 200px;
  height: 60px;
  margin: 0 0 4px 0;
}

footer .footer-top .left .info span {
  display: block;
  margin: 0 0 4px 0;
}

footer .footer-top .right .site-map {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer .footer-top .right .site-map a {
  display: inline-block;
  margin: 0 0 8px 0;
  font-size: 18px;
}

footer .footer-top .right .site-map a:last-child {
  margin: 0 0 20px 0;
}

footer .footer-middle {
  text-align: center;
}

footer .footer-middle .social {
  margin: 10px 0;
}

footer .footer-middle .social a img {
  height: 24px;
  margin: 0 6px;
}

footer .footer-bottom {
  text-align: center;
  line-height: 1.4;
}

@media screen and (max-width: 992px) {
  .nav-bar .nav-right ul li {
    display: none;
  }

  .nav-bar .nav-right ul .hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }

  footer .footer-top {
    display: block;
  }

  footer .footer-top .right .site-map {
    align-items: center;
    margin: 20px 0 0 0;
  }
}

