* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.active {
    border-bottom: 2px solid $green;
    padding: 10px 20px 8px 20px;
    &:hover {
        border-bottom: 2px solid $green;
        padding: 10px 20px 8px 20px;
    }
}
