@media screen and (max-width: 992px) {
    .nav-bar {
        .nav-right ul {
            li {
                display: none;
            }
            .hamburger {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        text-align: center;
        .footer-top {
            display: block;
            .right {
                .site-map {
                    align-items: center;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}
