<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../public/css/app.css">
	<title>laravel-boolean</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="nav-bar">
				<nav class="nav-left">
					<ul>
						<li class="logo">
							<a href="#"><img src="" alt="boolean"></a>
						</li>
					</ul>
				</nav>
				<nav class="nav-right">
					<ul>
						<li><a href="#">HOME</a></li>
						<li><a href="#">CORSO</a></li>
						<li><a href="#">DOPO IL CORSO</a></li>
						<li><a href="#">LEZIONE GRATUITA</a></li>
						<li class="apply"><a href="#">CANDIDATI ORA</a></li>
						<li class="hamburger"><a href="#"><img src="" alt="hamburger"></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main>
		<div class="developer container-fluid">
			<div class="container">
				<h2>Diventa sviluppatore web</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia odit, quae perferendis ut nobis, voluptates
					adipisci dolores obcaecati alias quaerat commodi pariatur officiis saepe natus in expedita similique
					consequuntur nostrum enim aperiam minus ea dolor doloremque? Vel aut impedit nostrum quisquam officia quasi
					nam atque repellendus molestias totam explicabo beatae non nesciunt aperiam ducimus fugit eum sint molestiae
					cupiditate officiis, nobis, dolor perspiciatis! Quisquam qui facilis nesciunt. Ut error tempora harum
					officiis? Nihil officiis minus dolores autem possimus? Autem voluptatum alias voluptates labore numquam.
					Dolorem quia, odio maiores ut beatae rerum totam accusamus commodi iusto consequatur sequi eligendi similique
					dicta.</p>
			</div>
		</div>
	</main>

	<footer>
		<div class="container-fluid">
			<div class="container">
				<div class="footer-top">
					<div class="left">
						<img src="" alt="boolean">
						<div class="info">
							<span>Sede Operativa</span>
							<span>Via Carducci 12 - 20123 Milano</span>
							<span>Tel: 02-36599712</span>
						</div>
					</div>
					<div class="right">
						<div class="site-map">
							<a href="#">Lezione gratuita</a>
							<a href="#">Domande frequenti</a>
							<a href="#">Per le aziende</a>
							<a href="#">Privacy policy</a>
							<a href="#">Lavora con noi</a>
						</div>
					</div>
				</div>
				<div class="footer-middle">
					<div class="social">
						<a href="#"><img src="" alt="instagram"></a>
						<a href="#"><img src="" alt="facebook"></a>
						<a href="#"><img src="" alt="linkedin"></a>
						<a href="#"><img src="" alt="youtube"></a>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="info">
						<span>Boolean SRL - Piazzale Giovanni dalle Bande Nere, 9 - 20146, Milano - P.IVA: 10214930967</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="../../../public/js/app.js"></script>
</body>

</html>