<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../public/css/app.css">
	<title>laravel-boolean</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="nav-bar">
				<nav class="nav-left">
					<ul>
						<li class="logo">
							<a href="#"><img src="" alt="logo"></a>
						</li>
					</ul>
				</nav>
				<nav class="nav-right">
					<ul>
						<li><a href="#">HOME</a></li>
						<li><a href="#">CORSO</a></li>
						<li><a href="#">DOPO IL CORSO</a></li>
						<li><a href="#">LEZIONE GRATUITA</a></li>
						<li class="apply"><a href="#">CANDIDATI ORA</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main>

	</main>

	<footer>

	</footer>
	<script src="../../../public/js/app.js"></script>
</body>

</html>